.navbar {
  width: 100%;
  box-sizing: border-box;
  position: fixed;
  z-index: 5;
  background: transparent;
  justify-content: space-between;
  padding: 20px;
  display: flex;
  align-items: center;
}
.navbar-collapse {
  margin-left: 4rem;
  display: flex;
  justify-content: space-around;
  font-size: small;
}
.navbar-brand {
  color: white;
  letter-spacing: 0.15rem;
  font-size: 18px;
  margin-left: 50px;
}
.nav-item {
  padding: 2px 10px;
  color: #ffffff;
}
.nav-link:hover {
  color: aliceblue;
}

.btn {
  padding: 8px 20px;
  border-radius: 30px;
  background-color: #fb3e3e;
  border-color: #fb3e3e;
  color: #ffffff;
  font-size: small;
}

.btn:hover {
  transition: all 0.5s;
  transform: translateY(-0.25em);
  background-color: #fb3e3e;
  border-color: #fb3e3e;
  color: #ffffff;
}
